@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="row fw-bold">
        <div class="col-md-4">Name</div>
        <div class="col-md-4">Price</div>
        <div class="col-md-4">Action</div>
    </div>

    @foreach (var product in Model.Products)
    {
        <div class="row my-1">
            <div class="col-md-4">@product.Name</div>
            <div class="col-md-4">@product.Price</div>
            <div class="col-md-4">
                <form method="post" asp-page-handler="RemoveRow">
                    <input type="hidden" name="id" asp-for="Product.Id" value="@product.Id" />
                    <button type="submit" class="btn btn-danger">
                        <i class="fas fa-trash"></i>
                    </button>
                </form>
            </div>
        </div>
    }

    <form method="post" asp-page-handler="AddRow">
        <div class="row">
            <div class="col-md-4">
                <input asp-for="Product.Name" class="form-control" />
                <span asp-validation-for="Product.Name" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <input asp-for="Product.Price" class="form-control" />
                <span asp-validation-for="Product.Price" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <button type="submit" class="btn btn-success">
                    <i class="fas fa-plus"></i>
                </button>
            </div>
        </div>
    </form>
</div>

