<div class="card">
    <div class="card-body">
        <h1 class="card-title">Login</h1>
  
        <div *ngIf="showError" class="alert alert-danger" role="alert">
            {{errorMessage}}
        </div>
        
        <form [formGroup]="loginForm" autocomplete="off" novalidate (ngSubmit)="loginUser(loginForm.value)">
            <div class="mb-3 row">
                <label for="username" class="col-form-label col-sm-2">Username:</label>
                <div class="col-md-5">
                    <input type="text" id="username" formControlName="username" class="form-control" />
                </div>
                <div class="col-md-5">
                    <em *ngIf="validateControl('username') && hasError('username', 'required')">Username is required</em>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="password" class="col-form-label col-sm-2">Password:</label>
                <div class="col-md-5">
                    <input type="password" id="password" formControlName="password" class="form-control" />
                </div>
                <div class="col-md-5">
                    <em *ngIf="validateControl('password') && hasError('password', 'required')">Password is required</em>
                </div>
            </div>
            <br>
            <div class="mb-3 row">
                <div class="col-md-1">
                    <button type="submit" class="btn btn-info" [disabled]="!loginForm.valid">Login</button>
                </div>
            </div>
        </form>
    </div>
  </div>