@page
@model ViewBasedAuthorization.Pages.EditModel
@{
}
<div class="container mt-5">
    <h1>Edit Document</h1>

    <form method="post">
        <input type="hidden" name="Id" asp-for="Document.Id" />

        <div class="form-group my-2">
            <label for="Title">Title:</label>
            <input type="text" class="form-control" name="Title" asp-for="Document.Title" />
        </div>

        <div class="form-group my-2">
            <label for="Content">Content:</label>
            <textarea class="form-control" name="Content" asp-for="Document.Content"></textarea>
        </div>

        <button type="submit" class="btn btn-primary my-5">Update</button>
    </form>
</div>