@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Programming Language Selector</h1>
    <form>
        <label>Select a Programming Language:</label>
        <select id="programming-language" name="programming-language">
            <option value="csharp">C#</option>
            <option value="java">Java</option>
            <option value="python">Python</option>
            <option value="javascript">JavaScript</option>
            <option value="ruby">Ruby</option>
            <option value="php">PHP</option>
            <option value="go">Go</option>
            <option value="typescript">TypeScript</option>
            <option value="rust">Rust</option>
        </select>
    </form>
</div>
