<div class="box-custom mt-4">
    <strong>This is my Age: @GetAge()</strong><br />
    <span>I was born in @YearOfBirthInput</span>
</div>

@code {

    // Demonstrates how a parent component can supply required parameters
    [Parameter, EditorRequired]
    public int? YearOfBirthInput { get; set; }

    // Method that calculates current age from the supplied year of birth
    public int GetAge()
    {
        var currentYear = DateTime.Now;
        var year = currentYear.Year;
        var age = year - YearOfBirthInput;

        return (int)age;
    }
}
