@page "/counter"
<SectionContent SectionName="CustomFooterSection">
    <CustomFooter MessageText="This is counter page."/>
</SectionContent>
<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @_currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int _currentCount;

    private void IncrementCount()
    {
        _currentCount++;
    }

}