@page "/"
<SectionContent SectionName="CustomFooterSection">
    <CustomFooter MessageText="This is home page."/>
</SectionContent>
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.