@page
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2>Visited Cities</h2>

    <form>
        <label>Select cities you have visited:</label>
        <br>

        <input type="checkbox" id="city1" value="Athens">
        <label for="city1">Athens</label>

        <input type="checkbox" id="city2" value="Paris">
        <label for="city2">Paris</label>

        <input type="checkbox" id="city3" value="Prague">
        <label for="city3">Prague</label>

        <input type="checkbox" id="city4" value="London">
        <label for="city4">London</label>

        <input type="checkbox" id="city5" value="Rome">
        <label for="city4">Rome</label>

        <input type="checkbox" id="city6" value="Berlin">
        <label for="city4">Berlin</label>

        <input type="checkbox" id="city7" value="Oslo">
        <label for="city4">Oslo</label>

        <input type="checkbox" id="city8" value="Poitiers">
        <label for="city4">Poitiers</label>

        <br><br />
    </form>
</div>

