@model Auth0UserLogin.Models.UserProfileViewModel
@{
    ViewData["Title"] = "User Profile";
}

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <h2>@ViewData["Title"]</h2>
            <div class="card" style="border-radius: 15px;">
                <div class="card-body p-4">
                    <div class="d-flex text-black">
                        <div class="flex-shrink-0">
                            <img src="@Model.ProfileImage"
                                 alt="" class="img-fluid rounded-circle"
                                 style="width: 180px; border-radius: 10px;">
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <h5 class="mb-1">@Model.Name</h5>
                            <p class="mb-2 pb-1" style="color: #2b2a2a;">@Model.EmailAddress</p>
                        </div>
                    </div>
                </div>
            </div>              
        </div>
    </div>
</div>