@page "/"
@using BlazorWebAssemblyCustomEvents.CustomEvents;

<h1>Hello, world!</h1>
<div class="fileDropArea">
    @*<Microsoft.AspNetCore.Components.Forms.InputFile OnChange="HandleFileChange">
    </Microsoft.AspNetCore.Components.Forms.InputFile>*@

    <Microsoft.AspNetCore.Components.Forms.InputFile @onfilechange="HandleFileChange">
    </Microsoft.AspNetCore.Components.Forms.InputFile>
</div>

@*<Microsoft.AspNetCore.Components.Forms.InputFile @onFilePaste="HandleFilePaste"> Yo mama</Microsoft.AspNetCore.Components.Forms.InputFile>*@

<style>
    .fileDropArea {
        width: 200px;
        height: 100px;
        outline-color: red;
        outline-width: 1px;
        outline-style: solid;
    }
</style>

@code {
    string message;

    void HandleFileChange(FileChangeEventArgs eventArgs)
    {
        message = $"At ";
    }
}