@model SelectViewModel
@{
    ViewData["Title"] = "Dropdowns";
}
<form method="post">

    <h3>Gender Dropdown - Using a List of SelectListItems</h3>
    <select class="form-select-sm" asp-for="SelectedGender" asp-items="@Model.Genders">
        <option>Please Select</option>
    </select>

    <h3 class="mt-2">Employees Dropdown - Using a List of Complex Models</h3>
    <select class="form-select-sm" asp-for="SelectedEmployeeId"
            asp-items="new SelectList(@Model.Employees, nameof(EmployeeViewModel.Id),
                   nameof(EmployeeViewModel.EmployeeName))">
        <option>Please Select</option>
    </select>

    <h3 class="mt-2">Countries Dropdown - Using a List of static strings</h3>
    <select class="form-select-sm" asp-for="SelectedCountry" asp-items="@Model.Countries">
        <option>Please Select</option>
    </select>

    <h3 class="mt-2">Department Dropdown - Using an enum</h3>
    <select class="form-select-sm" asp-for="SelectedDepartment" asp-items="@Html.GetEnumSelectList<Department>()">
        <option>Please Select</option>
    </select>

    <div class="mt-4">
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>
</form>