@model GroupViewModel
@{
    ViewData["Title"] = "Grouped Dropdown";
}

<p>Grouped dropdown list</p>
<select class="form-select-sm" asp-items="@Model.Courses">
    <option>Please Select</option>
</select>