@model SelectViewModel
@{
    ViewData["Title"] = "Countries dropdown";
}

<p class="mt-2">Countries Dropdown - Using a List of static strings</p>

<select class="form-select-sm" asp-for="SelectedCountry" asp-items="@Model.Countries">
    <option>Please Select</option>
</select>