@model SampleViewModel
@{
    ViewData["Title"] = "Department dropdown";
}

<h3 class="mt-2">Department Dropdown - Using an enum</h3>

<select class="form-select-sm" asp-for="Department" asp-items="@Html.GetEnumSelectList<Department>()">
    <option>Please Select</option>
</select>