@model SelectViewModel
@{
    ViewData["Title"] = "Employee Dropdown";
}

<h3 class="mt-2">Employees Dropdown - Using a List of Complex Models</h3>

<select class="form-select-sm" asp-for="SelectedEmployeeId"
        asp-items="new SelectList(@Model.Employees, nameof(EmployeeViewModel.Id),
                   nameof(EmployeeViewModel.EmployeeName))">
    <option>Please Select</option>
</select>