@using SelectTagHelper.Enums
@model SampleViewModel
@{
    ViewData["Title"] = "Department dropdown";
}

<p class="mt-2">Department Dropdown - Using an enum</p>

<select class="form-select-sm" asp-for="Department" asp-items="Html.GetEnumSelectList<Enumerations.Department>()">
    <option>Please Select</option>
</select>