<h1>Two-Factor Authentication with Google Authenticator - Setup</h1>

<div *ngIf="isLoading" class="spinner-border" role="status"></div>

<div *ngIf="showError"  class="alert alert-danger" role="alert">
    {{errorMessage}}
</div>

<div *ngIf="!isLoading">
    <div *ngIf ="tfaEnabled">
        <p class="alert alert-primary">Two-factor authentication has been enabled</p>
        <div class="box">
            <h2>Current settings</h2>
            <p>QR code:</p>
            <qr-code [value]="qrInfo"></qr-code>
            <p>Secret key:</p>
            <pre>{{authenticatorKey}}</pre>
            
            <button class="btn btn-info" (click)="disableTfa()">Disable Two-Factor Authentication</button>
        </div>
    </div>

    <div *ngIf ="!tfaEnabled">
        <p class="alert alert-danger">Two-factor authentication has not been enabled</p>
        <div>
            <div class="box">
                <h2>Step 1</h2>
                <p>Using the Google Authenticator app, you should scan the following QR code:</p>
                <qr-code [value]="qrInfo"></qr-code>
                <p>Alternatively, you may enter the following code to the Google Authenticator app:</p>
                <pre>{{authenticatorKey}}</pre>   
            </div>
            
            <div class="box">
                <h2>Step 2</h2>
                <div>
                    <form [formGroup]="tfaForm" (ngSubmit)="enableTfa(tfaForm.value)">
                        <div class="mb-3 row">
                            <label for="code" class="col-form-label col-sm-2">Enter here the code provided by the Google Authenticator app:</label>
                            <div class="col-md-5">
                                <input type="text" id="code" formControlName="code" class="form-control" />
                            </div>
                            <div class="col-md-5">
                                <em *ngIf="validateControl('code') && hasError('code', 'required')">Code is required</em>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <div class="col-md-3">
                                <button type="submit" class="btn btn-info" [disabled]="!tfaForm.valid">Enable Two-Factor Authentication</button>
                            </div>
                        </div>
                    </form>
                </div>    
            </div>
        </div>        
    </div>
    <a href="/" class="btn btn-info" >Return to Home Page</a>
</div>

