@inject IClipboardService ClipboardService

<button @onclick="OnClick" class="@buttonClass">@buttonText</button>

@code {
	[Parameter]
	public string TextToCopy { get; set; }

	private const string _copyToClipboardText = "Copy to Clipboard";
	private const string _copiedToClipboardText = "Copied to Clipboard";

	private const string _defaultClass = "btn btn-primary";
	private const string _successClass = "btn btn-success";

	private string buttonText = _copyToClipboardText;
	private string buttonClass = _defaultClass;

	private async Task OnClick()
	{
		await ClipboardService.CopyToClipboard(TextToCopy);

		buttonText = _copiedToClipboardText;
		buttonClass = _successClass;

		StateHasChanged();
		await Task.Delay(TimeSpan.FromSeconds(2));

		buttonText = _copyToClipboardText;
		buttonClass = _defaultClass;
	}
}
