@page "/userinput"

<h3>User Input Copy to Clipboard</h3>

<div class="container">
	<input @bind-value="text" />
	<CopyToClipboard TextToCopy="@text" />
</div>

<TextArea />

@code {
	string text = "";
}