@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style type="text/css">
 body {
     color: red;
 }
</style>

<script type="text/javascript">
    document.onload = alert('hi!');
</script>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
    User ID: @Html.Raw(Request.Query["userId"])

    <img src="https://example.com/img.jpg"/>
    
</div>
