@page "/"

@using UserInputValidationWithRegex.Models

<PageTitle>@pageTitle</PageTitle>
<h1>@pageTitle</h1>

<EditForm Model="@model" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3 col-9">
        <label for="name" class="form-label">Employee Name</label>
        <InputText id="name" class="form-control" @bind-Value="model.Name" aria-describedby="nameHelp" />
        <div id="nameHelp" class="form-text">Employee's first, middle and last names.</div>
    </div>

    <div class="mb-3 col-9">
        <label for="address" class="form-label">Address</label>
        <InputText id="address" class="form-control" @bind-Value="model.Address" aria-describedby="addressHelp" />
        <div id="addressHelp" class="form-text">Employee's address.</div>
    </div>

    <div class="mb-3 col-5">
        <label for="zipCode" class="form-label">Zip Code</label>
        <InputText id="zipCode" class="form-control" @bind-Value="model.ZipCode" aria-describedby="zipCodeHelp" />
        <div id="zipCodeHelp" class="form-text">Zip Code.</div>
    </div>

    <div class="mb-3 col-5">
        <label for="socialSecurityNumber" class="form-label">Social Security Number</label>
        <InputText id="socialSecurityNumber" class="form-control" @bind-Value="model.SocialSecurityNumber" aria-describedby="socialSecurityNumberHelp" />
        <div id="socialSecurityNumberHelp" class="form-text">Employee's social security number.</div>
    </div>

    <div class="mb-3 col-9">
        <label for="email" class="form-label">E-Mail</label>
        <InputText id="email" class="form-control" @bind-Value="model.Email" aria-describedby="emailHelp" />
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>

    <div class="mb-3 col-9">
        <label for="username" class="form-label">Username</label>
        <InputText id="username" class="form-control" @bind-Value="model.Username" aria-describedby="usernameHelp" />
        <div id="usernameHelp" class="form-text">Choose a unique username.</div>
    </div>

    <div class="mb-3 col-9">
        <label for="password" class="form-label">Password</label>
        <InputText type="password" id="password" class="form-control" @bind-Value="model.Password" aria-describedby="passwordHelp" />
        <div id="passwordHelp" class="form-text">Choose a strong password.</div>
    </div>

    <div class="mb-3 col-9">
        <label for="phone" class="form-label">Phone Number</label>
        <InputText id="phone" class="form-control" @bind-Value="model.PhoneNumber" aria-describedby="phoneHelp" />
        <div id="phoneHelp" class="form-text">Main contact phone number.</div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

</EditForm>


@code {
    private string pageTitle = "Employee Registration Form";
    private EmployeeRegistrationModel model = new();

    private void HandleValidSubmit()
    {
        // TODO: Handle form data
    }
}
