@using Microsoft.AspNetCore.Mvc.Localization

@{
    ViewData["Title"] = "IViewLocalizer";
}

@inject IViewLocalizer ViewLocalizer

<div class="text-center">
    <p>@ViewLocalizer["ViewGreeting"]</p>
</div>
