<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="PersonsDB" connectionString="Data Source=DESKTOP-VM6E980;User ID=sa;Password=P@ssw0rd;Database=EntityFrameworkVsDapperDB;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>