<div class="card">
    <div class="card-body">
        <h1 class="card-title">Two Step Verification</h1>
        <div *ngIf="showError" class="alert alert-danger" role="alert">
            {{errorMessage}}
        </div>
        <form [formGroup]="twoStepForm" autocomplete="off" novalidate (ngSubmit)="loginUser(twoStepForm.value)">
            <div class="mb-3 row">
                <label for="twoFactorCode" class="col-form-label col-sm-2">Code:</label>
                <div class="col-md-5">
                    <input type="text" id="twoFactorCode" formControlName="twoFactorCode" class="form-control" />
                </div>
                <div class="col-md-5">
                    <em *ngIf="validateControl('twoFactorCode') && hasError('twoFactorCode', 'required')">The Code is required</em>
                </div>
            </div>
            <br>
            <div class="mb-3 row">
                <div class="col-md-1">
                    <button type="submit" class="btn btn-info" [disabled]="!twoStepForm.valid">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>