@page "/"

<PageTitle>Index</PageTitle>

<ErrorBoundary @ref="errorBoundary">
	<ChildContent>
		<Counter />
	</ChildContent>
	<ErrorContent>
		<p>Uh oh! Something went wrong</p>
		<button class="btn btn-warning" @onclick="ResetError">Reset</button>
	</ErrorContent>
</ErrorBoundary>

	

@code {
	private ErrorBoundary? errorBoundary;
	private Exception? exception;

	protected override void OnParametersSet()
	{
		errorBoundary?.Recover();
	}

	private void ResetError()
	{
		errorBoundary?.Recover();
	}
}
