.file-drop-zone {
    width: 100%;
    border: 3px dotted #fb275d;
    display: flex;
    align-items: center;
    margin-bottom: 2px;
}

.hover {
    border-style: solid;
    background-color: #00ca71;
}

.image-container {
    display: flex;
    justify-content: center;
}

::deep input[type=file] {
    width: 100%;
    padding: 20px;
}