<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ServerSentEventsForRealtimeUpdates.MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ServerSentEventsForRealtimeUpdates.MVC.styles.css" asp-append-version="true" />
    <style>
    .table_component {
        overflow: auto;
        width: 100%;
    }
    
    .table_component table {
        border: 1px none #dededf;
        height: 100%;
        width: 100%;
        table-layout: fixed;
        border-collapse: collapse;
        border-spacing: 1px;
        text-align: center;
    }
    
    .table_component caption {
        caption-side: top;
        text-align: left;
    }
    
    .table_component th {
        border: 1px none #dededf;
        background-color: #757575;
        color: #ffffff;
        padding: 5px;
    }
    
    .table_component td {
        border: 1px none #dededf;
        padding: 5px;
    }
    
    .table_component tr:nth-child(even) td {
        background-color: #ffffff;
        color: #000000;
    }
    
    .table_component tr:nth-child(odd) td {
        background-color: #ededed;
        color: #000000;
    }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CodeMaze</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - ServerSentEventsForRealtimeUpdates.MVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script>
    async function generate() {
                let count = 1;
                const eventSource = new EventSource("http://localhost:5229/sse");
            
                eventSource.onmessage = (event) => {

                    let flight = JSON.parse(event.data);
                    
                    document.getElementById(`col-${count}1`).innerText = flight.Scheduled;
                    document.getElementById(`col-${count}2`).innerText = flight.Destination;
                    document.getElementById(`col-${count}3`).innerText = flight.Number;
                    document.getElementById(`col-${count}4`).innerText = `Terminal ${flight.Terminal}`;
                    document.getElementById(`col-${count}5`).innerText = flight.Estimated;
                    document.getElementById(`col-${count}6`).innerText = flight.Status;
         
                    if ( count === 10)
                        count = 0;
                    
                    count++;
                }
            }
            
    generate();
</script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
