@{
    ViewData["Title"] = "Home Page";
}


<div class="table_component" role="region" tabindex="0">
<table>
    <caption>Check arrival and departure information</caption>
    <thead>
    <tr>
        <th>SCHEDULED</th>
        <th>DESTINATION</th>
        <th>FLIGHT</th>
        <th>TERMINAL</th>
        <th>ESTIMATED</th>
        <th>STATUS</th>
    </tr>
    </thead>
    <tbody>
    <tr id="row-1">
        <td id="col-11">10:10</td>
        <td id="col-12">Rio de Janeiro</td>
        <td id="col-13">1101</td>
        <td id="col-14">Terminal 1</td>
        <td id="col-15">10:30</td>
        <td id="col-16">Delayed</td>
    </tr>
    <tr id="row-2">
        <td id="col-21">09:00</td>
        <td id="col-22">Santos</td>
        <td id="col-23">1250</td>
        <td id="col-24">Terminal 6</td>
        <td id="col-25">10:05</td>
        <td id="col-26">Delayed</td>
    </tr>
    <tr id="row-3">
        <td id="col-31">10:00</td>
        <td id="col-32">Washington</td>
        <td id="col-33">5890</td>
        <td id="col-34">Terminal 3</td>
        <td id="col-35">09:30</td>
        <td id="col-36">Arrived</td>
    </tr>
    <tr id="row-4">
        <td id="col-41">13:00</td>
        <td id="col-42">London</td>
        <td id="col-43">1322</td>
        <td id="col-44">Terminal 8</td>
        <td id="col-45">13:00</td>
        <td id="col-46">Boarding</td>
    </tr>
    <tr id="row-5">
        <td id="col-51">10:00</td>
        <td id="col-52">Bern</td>
        <td id="col-53">3001</td>
        <td id="col-54">Terminal 4</td>
        <td id="col-55">10:00</td>
        <td id="col-56">Departed</td>
    </tr>
    <tr id="row-6">
        <td id="col-61">09:30</td>
        <td id="col-62">Oslo</td>
        <td id="col-63">1488</td>
        <td id="col-64">Terminal 7</td>
        <td id="col-65">10:05</td>
        <td id="col-66">Delayed</td>
    </tr>
    <tr id="row-7">
        <td id="col-71">9:50</td>
        <td id="col-72">Belgrade</td>
        <td id="col-73">5890</td>
        <td id="col-74">Terminal 3</td>
        <td id="col-75">9:55</td>
        <td id="col-76">Arrived</td>
    </tr>
    <tr id="row-8">
        <td id="col-81">10:00</td>
        <td id="col-82">Paris</td>
        <td id="col-83">1322</td>
        <td id="col-84">Terminal 8</td>
        <td id="col-85">11:00</td>
        <td id="col-86">Boarding</td>
    </tr>
        <tr id="row-9">
            <td id="col-91">11:00</td>
            <td id="col-92">Curitiba</td>
            <td id="col-93">8990</td>
            <td id="col-94">Terminal 1</td>
            <td id="col-95">11:00</td>
            <td id="col-96">Arrived</td>
        </tr>
        <tr id="row-10">
            <td id="col-101">14:00</td>
            <td id="col-102">Melbourne</td>
            <td id="col-103">3520</td>
            <td id="col-104">Terminal 8</td>
            <td id="col-105">14:00</td>
            <td id="col-106">Canceled</td>
        </tr>
    </tbody>
</table>
</div>
