@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div id="hidden-element" style="display: none;">
    This is a hidden element.
</div>

<button id="testButton" style="display: none;">Click Me</button>