@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";
}

<section>
    <div class="row justify-content-center m-3">
        <div class="col-4 login-form-icon">
            <i class="fas fa-user-circle fa-9x text-secondary"></i>
        </div>
    </div>
    <form id="account" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-floating m-3">
            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Email"/>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="form-floating m-3">
            <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Password"/>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="form-check m-3">
            <label asp-for="Input.RememberMe" class="form-label">
                <input class="form-check-input" asp-for="Input.RememberMe" />
                @Html.DisplayNameFor(m => m.Input.RememberMe)
            </label>
        </div>
        <div class="row m-3">
            <button id="login-submit" type="submit" class="btn btn-primary btn-lg">Log in</button>
        </div>
    </form>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
