@model List<string>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @{
        foreach (var person in Model)
        {
            <p>@person</p>
        }
    }
</div>
